<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>707794982300-8im7thjh951e44jj9f08voeuucp9j6j9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.707794982300-8im7thjh951e44jj9f08voeuucp9j6j9</string>
	<key>API_KEY</key>
	<string>AIzaSyCFnYtYfqWOjXldNwKsTgddQUVGtFXc1Mw</string>
	<key>GCM_SENDER_ID</key>
	<string>707794982300</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.joia</string>
	<key>PROJECT_ID</key>
	<string>joia-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>joia-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:707794982300:ios:134559f8d1aa930b7f2459</string>
	<key>DATABASE_URL</key>
	<string>https://joia-firebase.firebaseio.com</string>
</dict>
</plist>